{% extends "base.html" %}

{% block title %}Naslov{% endblock %}

{% block content %}
    {% if latest_expenses_list %}
        <p class="link">Total: {{s}}</p>
        <table class = 'styled-table'>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for exp in latest_expenses_list %}
                    <tr>
                        <td>{{ exp.createdOn.date}}</td>
                        <td>{{ exp.createdOn.time}}</td>
                        <td><a href="{% url 'costless:category' exp.cat.catName %}">{{ exp.cat.catName}}</a> </td>
                        <td>{{ exp.subcat.subCatName}}</td>
                        <td>{{ exp.cost}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="link"><a href="{% url 'home' %}">Home</a></p>
        <p class="link"><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>No costs are available.</p>
    {% endif %}
{% endblock %}